%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title ChatSpaceSample
  %meta{:content => "authenticity_token", :name => "csrf-param"}/
  %meta{:content => "bpEZ8aMXNPp2pV+NvUXKp3Ca5qqkW9BhOrCMdKL2gtvGqeQ3CzGWvpWA+8leCKlaRljHkpex26mgmgyRRHZHWw==", :name => "csrf-token"}/
  %link{"data-turbolinks-track" => "reload", :href => "/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css", :media => "all", :rel => "stylesheet"}/
  %script{"data-turbolinks-track" => "reload", :src => "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}



.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name yuyu
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          =link_to "#", class:"a" do
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          =link_to "#", class:"a" do
            %i.fa.fa-cog
  .groups
    =link_to "#", class: "a" do
      .group
        %p.group__group-name jump_comics
        %p.group__latest-message まだメッセージがありません
    